.green {
  background-color: green;
}

#pic {
    text-align: center;
    padding-left: 200px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 250, 250, 1);
}

.colortheme {
  background-color: rgba(0,153,0,0.9);
}

.jumbo {
  background: rgba(255, 250, 250, 0.7);
}

.opac {
  opacity: 0.7;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.searchPagination {
    text-align: center;
}

.test {
    margin-bottom: 30px;
    margin-top: 10px;
}

.mainbutton {
  border: thin groove #000000;
  vertical-align: bottom;
}

.orange {
  background-color: orange;
}

.ed {
  background: url("/images/ed.jpg") no-repeat;
  background-size: 100%;
}

.white {
  background-color: white;
}

.song .title {
    font-size: 10px;
}

.redglyph {
  color: red;
}

.makepic:hover{
    -webkit-transform:scale(2); /* Safari and Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
     transform:scale(2);
}

.makepic {
  max-width: 200px;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url("/images/congruent_pentagon.png");
}

html {overflow-y: scroll;}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.reset-this {
  padding: 5px !important;
}
