<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="iprogApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- START HEADER -->
    <div ng-controller="HeaderCtrl" class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header navbar-left">
            <p class="navbar-brand" style="margin-bottom: 0px">SoundCloud Downloader</p>
          </div>

          <div  class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul id="navi" class="nav navbar-nav navbar-center">
              <li class=""><a href="#/">Home</a></li>
              <li ng-show="IsLoggedIn()" ng-cloak><a ng-href="#/search">Search</a></li>
              <li ng-show="IsLoggedIn()" ng-cloak><a ng-href="#/profile">Profile</a></li>
            </ul>
            <ul id="navi" class="nav navbar-nav navbar-right">
              <li ng-show="IsLoggedIn()" ng-cloak><a ng-href=""><b>{{getAuthData().password.email}}</b></a></li>
              <button ng-show="!IsLoggedIn()" ng-cloak ng-click="loginreg()" type="submit" style="margin-bottom: 0px" class="btn btn-default test">Login/Register</button>
              <button ng-show="IsLoggedIn()" ng-cloak ng-click="logout()" type="submit" style="margin-bottom: 0px" class="btn btn-danger test">Logout</button>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <!-- END HEADER -->

<div class="container">
    <div ng-view></div>
</div>

<!-- START FOOTER -->
 <div class="footer">
    <div class="container ">
        <p class="text-muted" style="text-align:center"><span class="glyphicon glyphicon-cloud-download"></span> SoundCloud Downloader</p>
    </div>
</div>

  <!-- END FOOTER -->


    <!--<ng-include src="'partials/footer.html'"></ng-include>-->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <!-- Link for SoundCloud SDK -->
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-css/angular-css.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script src="scripts/scinit.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/firebaseauthfactory.js"></script>
    <script src="scripts/services/soundcloudfactory.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/services/userservice.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/services/firebasedataservice.js"></script>
    <!-- endbuild -->

    <script src="scripts/misc.js"></script>
</body>
</html>
