<div class="jumbotron jumbo">
    <h2 class="headerfont">Enjoy free music from SoundCloud</h2>
    <img ng-src="images/logo.png" id="pic" height="185"/>
    <div class="jumbotron jumbofront">
      <h3 class="textstyle" >SoundCloud Downloader is an easy to use website for finding and downloading free music legally. It also helps with promoting all music available on SoundCloud regardless of the popularity. The advanced search function features parameters such as genres, track length and BPM.</h3>
      <h3 class="textstyle" >Register an account to start experiencing the music of SoundCloud!</h3>
    </div>
</div>
