<div class="jumbotron jumbo">
    <img ng-src="images/logo.png" id="pic" height="185"/>
    <h3 style="font-size: 16px">SoundCloud Downloader is an easy to use website for finding and downloading free music legally. It also helps with promoting all music available on SoundCloud regardless of their popularity. The advanced search function features parameters such as genres, track length and BPM.</h3>
    <h3 style="font-size: 16px">Register an account today to create playlists and include your newly found set of music to enjoy for free!</h3>
</div>
