<div class="jumbotron white">

    <fieldset class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="email" type="email" class="form-control" placeholder="Enter email">
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model="password" type="password" class="form-control" placeholder="Password">
    </fieldset>
    <button ng-click="register()" type="submit" class="btn btn-primary">Register</button>
    <button ng-click="login()" type="submit" class="btn btn-primary">Login</button>
</div>
