<div class="jumbotron">

    <fieldset class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </fieldset>
    <button ng-click="testreg()" type="submit" class="btn btn-primary">Register</button>
    <button ng-click="testlogin()" type="submit" class="btn btn-primary">Login</button>
    <button ng-click="testlogout()" type="submit" class="btn btn-danger">Logout</button>
    <!--<button ng-click="testinfo()" type="submit" class="btn btn-primary">Info</button>-->
</div>
