<h3 style="text-align: center" id="korv">Profile</h3>

<div class="jumbotron">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul id="navi" class="nav navbar-nav">
                    <li id="profile_tab1"><a ng-click="showContent(0)" ng-href="#/profile">My Info</a></li>
                    <li id="profile_tab3"><a ng-click="showContent(1)" ng-href="#/profile">Playlists</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- the main content -->
    <div ng-show="showInfo">
        <h2 align="left" style="font-weight: bold;">{{getUsername().password.email}}</h2>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <p1 style="float:left; font-size: 18px">Playlists: {{playlistIds.length}}</p1>
        <br><br>
        <p2 style="float:left; font-size: 18px">Total songs: {{getSongsCount()}}</p2>
        <br>
    </div>
    <div ng-show="showPlaylists">

        <div class="input-group input-group-lg">
            <input ng-model="newPlaylist" type="text" class="form-control" placeholder="Enter new playlist name" autofocus>
            <span class="input-group-btn">
                <button ng-click="addPlaylistToFirebase()" type="submit" class="btn btn-default"><span style="color:green" class="glyphicon glyphicon-plus"></span></button>
            </span>
        </div>

        <div class="col-lg-12">
            <h2 align="left" style="font-weight: bold;">Number of playlists: {{getPlaylistIds().length}}</h2>
        </div>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <!--SHARE BUTTOM OM MAN VILL HA DET<button type="submit" class="btn-sm btn-default" style="float:right">Share</button>-->
        <uib-accordion >
            <div class="row vertical-align" style="padding-top:10px" ng-repeat="list in getPlaylistIds()">
                <div class="col-lg-11">
                  <uib-accordion-group  is-open="accordionOpen" ng-click="accordionOnClick(list.id, accordionOpen)">
                      <uib-accordion-heading >
                        <center>{{list.name}} <span ng-if="accordionOpen && getCurrentSongsList().length > 0">- {{getCurrentSongsList().length}} songs</span> <i class="glyphicon" ng-class="{'glyphicon-chevron-down': accordionOpen, 'glyphicon-chevron-right': !accordionOpen}"></i></center>
                      </uib-accordion-heading>
                      <div class="row vertical-align" ng-repeat="song in getCurrentSongsList()" ng-if="currentPlaylist === list.id">
                          <div class="col-lg-11">
                            <p align="left">{{song.name}}</p>
                            <iframe width="100%"  scrolling="no" frameborder="no" ng-src="{{getframe(song.id)}}"></iframe>
                        </div>
                        <div class="col-lg-1">
                            <button ng-click="removeSong(list.id, song.id, $index)" type="button" class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp;
                            </button>
                        </div>
                      </div>
                  </uib-accordion-group>
              </div>
              <div class="col-lg-1">

                <button ng-click="removePlaylist(list.id, $index)" type="button" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                </button>
              </div>
          </div>

        </uib-accordion>
    </div>

</div>
