<h3 style="text-align: center" id="korv">This is the profile view.</h3>

<div class="jumbotron">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul id="navi" class="nav navbar-nav">
              <li><a ng-href="#/profile" style="background:rgb(255,255,255);">Profile information</a></li>
              <li><a ng-href="#/profile">Friends</a></li>
              <li><a ng-href="#/profile">Playlists</a></li>
            </ul>
          </div>
        </div>
      </div>
</div>
<div id="profinfo" class="jumbotron">
    <p>Your personal information!</p>
</div>
<div id="friends" class="jumbotron">
    Friend1
    <hr>
    Friend2
    <hr>
    Friend3
</div>
<div id="playlists" class="jumbotron">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Nalle Puh soundtracks</button>
    <div id="demo" class="collapse">
        Songs for playlist one eller länk till en ny view för att spela upp spellistor typ
        Spelbara låtar bör komma upp här som det blir när ni söker efter låtar!
    </div>
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Free Rock Music</button>
    <div id="demo2" class="collapse">
        Songs for playlist two
        Spelbara låtar bör komma upp här som det blir när ni söker efter låtar!
    </div>
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Free Stone Music</button>
    <div id="demo3" class="collapse">
        Songs for playlist three
        Spelbara låtar bör komma upp här som det blir när ni söker efter låtar!
    </div>
    <br>
</div>
<!--<div id="wrapper">
    <!-- Sidebar --
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Playlists</a>
            </li>
            <li>
                <a href="#">Friends</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper --

    <!-- Page Content --
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                	<p>This is the profile view.</p>

                    <h1>Simple Sidebar</h1>
                    <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper --

</div>
<!-- /#wrapper -->