<h3 style="text-align: center" id="korv">Profile</h3>

<div class="jumbotron">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul id="navi" class="nav navbar-nav">
                    <li id="profile_tab1"><a ng-click="showContent(0)" ng-href="#/profile">My Info</a></li>
                    <li id="profile_tab2"><a ng-click="showContent(1)" ng-href="#/profile">Friends</a></li>
                    <li id="profile_tab3"><a ng-click="showContent(2)" ng-href="#/profile">Playlists</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- the main content -->
    <div ng-show="showValueOne" class="ng-hide">
        <h2 align="left" style="font-weight: bold;">{{getUsername().password.email}}</h2>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <p1 style="float:left; font-size: 18px">Playlists: {{getPlaylistCount()}}</p1>
        <br><br>
        <p2 style="float:left; font-size: 18px">Total songs: {{getSongsCount()}}</p2>
        <br>
    </div>
    <div ng-show="showValueTwo" class="ng-hide">
        <h3 align="left">DJ Khalid</h3></a>
        <p1 style="float:left">Playlists</p1>
        <br>
        <hr style="width: 100%; color: grey; height: 1px; background-color:grey;" />
        <h3 align="left">Alan</h3>
        <p1 style="float:left">Playlists</p1>
        <br>
        <hr style="width: 100%; color: grey; height: 1px; background-color:grey;" />
        <h3 align="left">FreddyB Jr</h3>
        <p1 style="float:left">Playlists</p1>
        <br>
    </div>
    <div ng-show="showValueThree" class="ng-hide">
        <div class="input-group">
            <input ng-model="newPlaylist" type="text" class="form-control" placeholder="Playlist name">
            <span class="input-group-btn">
                <button ng-click="addPlaylistToFirebase()" type="submit" class="btn-sm btn-default">Add playlist</button>
            </span>
        </div>
        <div class="col-lg-12">
            <h2 align="left" style="font-weight: bold;">Your playlists:</h2>
        </div>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        <!--SHARE BUTTOM OM MAN VILL HA DET<button type="submit" class="btn-sm btn-default" style="float:right">Share</button>-->
        <uib-accordion >
            <div class="row" ng-repeat="list in playlistIds">
              <uib-accordion-group is-open="accordionOpen">
                <div class="col-lg-12">
                  <uib-accordion-heading >
                    <!--<h2 align="left" style="font-weight: bold;">{{list.name}}</h2>-->
                    <div class="glyphicon glyphicon-remove" ng-click="removePlaylist(list.id)" align="right"></div>
                    <center>{{list.name}}<i class="glyphicon" ng-class="{'glyphicon-chevron-down': accordionOpen, 'glyphicon-chevron-right': !accordionOpen}"></i></center>
                  </uib-accordion-heading>
                  <div ng-repeat="song in allPlaylists" ng-if="list.id == song.listid">
                    <p align="left">{{song.name}}</p>
                    <iframe width="100%"  scrolling="no" frameborder="no" ng-src="{{getframe(song.id)}}"></iframe>
                  </div>
                </div>
              </uib-accordion-group>
            </div>
        </uib-accordion>
    </div>

</div>
