<h3 style="text-align: center" id="korv">This is the search view.</h3>

<div class="jumbotron">


  <div class="row">
      <div class="col-lg-12">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                  <button ng-click="test()" type="submit" class="btn-sm btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
          </div>
      </div>
  </div>

  <div class="row" style="padding-top: 20px">
      <div class="col-lg-12">
          <div class="input-group">
              <label class="checkbox-inline">
                  <input type="checkbox" name="optradio"> Free
              </label>
              <label class="checkbox-inline">
                  <input type="time" min="0:00" max="100:59"></input> min-time
              </label>
              <label class="checkbox-inline">
                  <input type="time"></input> max-time
              </label>
              <label class="checkbox-inline">
                  <button class="btn-sm btn-danger dropdown-toggle" type="button" data-toggle="dropdown">genres
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="">Rock</a></li>
                    <li><a href="">Jazz</a></li>
                    <li><a href="">Pop</a></li>
                    </ul
              </label>
          </div>
      </div>
  </div>
</div>

<div class="jumbotron">
    <div data-ng-module="song"
    <div class="row song" ng-repeat="song in testdata">
        <div class="col-lg-12">
            <p class="title">{{song.title}}</p>
        </div>
    </div>
</div>
