<h3 style="text-align: center" id="korv">Search</h3>

<div class="jumbotron">


  <div class="row">
      <div class="col-lg-12">
          <div class="input-group">
              <input ng-model="searchInput" type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                  <button ng-click="songQuery()" type="submit" class="btn-sm btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
          </div>
      </div>
  </div>

  <div class="row" style="padding-top: 15px">
      <div class="col-lg-12">
              <!---<label class="checkbox-inline">
                  <input type="checkbox" name="optradio"> Free
              </label>-->
              <label class="checkbox-inline">
                  <input class="form-control" type="number" min="0"></input> min-time
              </label>
              <label class="checkbox-inline">
                  <input class="form-control" type="number" min="0"></input> max-time
              </label>

      </div>
  </div>

  <div class="row" style="padding-top: 15px">
      <div class="col-lg-12">
          <!--<label class="checkbox-inline">
              <button class="btn-sm btn-danger dropdown-toggle" type="button" data-toggle="dropdown">genres
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><a href="">Rock</a></li>
                <li><a href="">Jazz</a></li>
                <li><a href="">Pop</a></li>
                </ul>
          </label>-->
          <label class="checkbox-inline">
              <input class="form-control" ng-model="genreInput" type="text" placeholder="Genre"></input> genre
          </label>
          <!--<label class="checkbox-inline">
              <input class="form-control" ng-model="searchLimit" type="number" min="1" ></input> limit
          </label>-->
      </div>
  </div>


    <div class="row" style="padding-top: 15px">
        <div class="col-lg-12">
            <label class="checkbox-inline">
                <input class="form-control" ng-model="minbpm" type="number" min="0" placeholder="Min BPM"></input> minbpm
            </label>
            <label class="checkbox-inline">
                <input class="form-control" ng-model="maxbpm" type="number" min="0" placeholder="Max BPM"></input> maxbpm
            </label>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row song" ng-repeat="song in testdata" ng-if="song.downloadable != false">
        <div class="col-lg-12">
            <!--<p class="title">{{song.title}}</p>-->
            <iframe width="100%"  scrolling="no" frameborder="no" ng-src="{{trustSrc(getframe(song.uri))}}"></iframe>
            <button ng-click="addSongToPlaylist(song.uri)" type="submit" class="btn-sm btn-default" style="float:right">+</button>
        </div>
    </div>
</div>


<ul>
    <li ng-repeat="song in filteredSongs">{{song.text}}</li>
</ul>

<button ng-click="testPaging()" class="btn-sm btn-default">paging</button>

<pagination ng-model="currentPage" total-items="songs.length" max-size="maxSize" boundary-links="true">
</pagination>
